@tailwind base;
@tailwind components;
@tailwind utilities;

html {max-height:1000000px;}

:root {
    --fore-color-primary:  white!important;
    --bg-color-primary:  #102a3a!important;
    --fore-color-secondary:  #04FF00!important;
    --bg-color-secondary:  #102a3a!important;
}
.color-primary,.hover-color-primary:hover{color: var(--fore-color-primary); background-color:var(--bg-color-primary)}
.color-secondary,.hover-color-secondary:hover{color: var(--fore-color-secondary); background-color:var(--bg-color-secondary)}
.bg-success{background-color: #04FF00;}
.bg-warning{background-color: yellow;}
.bg-error{background-color: orangered;}

@layer components {
    .btn-primary {
      @apply color-secondary font-semibold py-3 px-4 text-xl rounded-lg drop-shadow-lg;
    }
  }